<%- include('../layouts/header.ejs')%>

<h1>DashBoard</h1>
<a href="/admin/new-user">Add New User</a>
<br><br>
</noscript>

<!-- <p><%- users     %></p> -->
<table width="50%">

    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Image</th>
        <th>Verified</th>
        <th>Action</th>
        <th>Delete User</th>
    </tr>
    <%
     if(users.length>0){
         for(let i = 0; i<users.length; i++){
         %>
            <tr>

                <td><%= users[i].name %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].mobile %></td>
                <td><img src="/userImages/<%= users[i].image %>" height="200px" width="200px" alt="<%= users[i].image %>"></td>
                <td><% if(users[i].is_verified===0){
                    %><p>User Not Verified</p><%
                    }
                    else{
                        %><p>User Verified</p><%
                    }
                %>
            </td>
            <td><a href="/admin/edit-user?id=<%= users[i]._id %>">Edit</a></td>
            <td><a href="/admin/delete-user?id=<%= users[i]._id %>">Delete</a></td>

            </tr>


        <%

         }


     }else{
         %>
         <tr>
             <td colspan="5"> Users Not found </td>
         </tr>
         <%
     }



    %>

</table>

<a href = "/admin/home">Go To Home </a>

<% include('../layouts/footer.ejs')%>